<h2 class="headline-5">Legend:</h2>
<div class="legend__text-container">
  <div class="legend__text">
    <h3 class="headling-6">Health</h3>
    <p>
      1st level is equal to hit die + constitution modifier. Levels after roll +
      constitution modifier
    </p>
  </div>

  <div class="legend__text">
    <h3 class="headling-6">AC:</h3>
    <p>
      Unarmoured is 10 + dex, armoured use armour stat + dex to max specified
    </p>
  </div>

  <div class="legend__text">
    <h3 class="headling-6">Hit Modifier:</h3>
    <p>Dexterity or strength modifier + proficiency bonus if proficient</p>
  </div>

  <div class="legend__text">
    <h3 class="headling-6">Spell DC:</h3>
    <p>8 + proficiency bonus + your spellcasting ability modifier</p>
  </div>

  <div class="legend__text">
    <h3 class="headling-6">Passive Check:</h3>
    <p>10 + modifier for the check</p>
  </div>

  <div class="legend__text">
    <h3 class="headling-6">Skill and saving throw proficiency:</h3>
    <p>
      If proficient add your proficiency bonus, double the bonus for expertise
    </p>
  </div>

  <div class="legend__text">
    <h3 class="headling-6">Inititive:</h3>
    <p>Equal to your dexterity modifier</p>
  </div>
</div>
